* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
     background: #084912; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#084912, #62c96e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#084912, #62c96e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#084912, #62c96e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#084912, #62c96e ); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Italianno', cursive;
    font-size: 40px;
}

h1 {
	color: #daa520;
	font-size: 80px;
	margin-top: 15px;
    margin-left: 30px;
    text-shadow: 3px 3px 5px #d67d17;
}

.container {
    position: relative;
    perspective: 800px;
}

.flip {
    top: 8%;
    left: 28%;
    /*right: 50%;*/
}

#image{
    margin: 0 auto 0 auto;
    width: 700px;
    height: 400px;
}  

.recipient {
    padding-top: 20px;
    padding-left: 25px;
     min-height: 80px;
     color: #084912;
}

.message {
    min-height: 200px;
    max-height: 300px;
    max-width: 500px;
    margin-left: 100px;
    margin-top: 35px;
    color: #a00000;
    word-wrap: break-word;
}

.sender {
    color: #084912;
    margin-left: 450px;
    min-height: 100px;
}

.back {
    max-width: 700px;
    max-height: 400px;
    background-image: url(backbg.jpg);
    background-repeat: no-repeat;
    font-size: 50px;
    font-weight: 700;
}
/* adding flip animation */

.mailAndPrint {
    color: #c96514;
    text-shadow: 2px 2px 3px #8c2708;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 160px;
    position: absolute;
    left: 28%;
}

input {
    padding: 10px;
    font-size: 20px;
    width: 300px;
    border-radius: 5px;
    border: 3px solid #daa520;
}

input:focus {
    border-radius: 5px;
    border: 3px solid #c97412;
    outline: none;
}

button {
    padding: 10px;
    font-size: 20px;
    width: 100px;
    border-radius: 6px;
    outline: none;
    color: white;
    margin-left: 10px;
}

#mail {
    background-color: #c96514;
}

#print {
    background-color: #8c2708;
}

#fillDetails {
    position: absolute;
    right: 15%;
    bottom: 45%;
    width: 150px;
    background-color: #084912;
}


/* media query to specify what to print */
@media print {
   h1 {
      display: none;
   }

   button, .mailAndPrint {
      display: none;
   }

   body {
      width: 100%;
      margin: 0;
      padding: 0;
   }

   @page {
      margin: 2cm;
   }

   .flip {
       page-break-after: avoid;
    }

    .front{
        position: absolute;
        top: 100%;
        left: 50%;
        transform-style: initial;
        /*transform: rotateX(0);*/

    }

    .back {
        max-width: 700px;
        max-height: 400px;
        background-image: url(backbg.jpg);
        background-repeat: no-repeat;
        position: absolute;
        top: 100%;
        left: 50%;
        transform-style: initial;
        /*transform: rotateX(-360deg);*/
    }
}

@media print and (color) {
   .back {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}